body {
    margin: 0;
}
main {
    max-width: 900px;
    margin: 0 auto;
    font-family: Arial;
    padding: 10px 20px;
}

nav {
    padding: 20px 0;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
    display: flex;
}
nav ul > li:first-child {
    margin-right: 8px;
}
nav ul > li:last-child {
    margin-left: auto;
}
nav ul > li {
    font-size: 15px;
    padding: 8px 12px;
    background-color: lightgray;
    color: black;
    border-radius: 4px;
}
nav ul > li:hover {
    cursor: pointer;
    background-color: coral;
}
nav ul > li.active {
    background-color: coral;
    cursor: default;
}
.new-bank {
    background-color: green;
    color: white;
}
.new-bank:hover {
    background-color: darkgreen;
}