.table {
    display: flex;
    flex-direction: column;
}
.table.hidden {
    display: none;
}
.table-row {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
    height: 40px;
    border-radius: 4px;
    background-color: lightgray;
    margin: 4px 0;
    font-size: 13px;
}
.table-row.th {
    background-color: gray;
    margin: 0 0 4px 0;
    font-weight: 700;
    font-size: 13px;
    height: 44px;
}
.table-row span {
    vertical-align: middle;
}
.table-row div {
    width: 18%;
    text-align: center;
}
.table-row div:first-child {
    width: 20px;
    text-align: left;
}
.table-row div:nth-child(2) {
    text-align: left;
}
.table-row.full-name {
    height: auto;
    padding-top: 6px;
    padding-bottom: 6px;
}
.table-row:not(.th, .empty):hover {
    background-color: #bbb;
    cursor: pointer;
}

.table-row div.edit-buttons {
    width: 60px;
}
.edit-buttons ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
.edit-buttons ul li {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.table-row.th .edit-buttons ul {
    justify-content: flex-end;
}
.edit-buttons ul li svg {
    width: 20px;
    height: 20px;
    color: #4c4c4c;
}
.edit-buttons ul li:hover svg {
    color: black;
}
